.swiper {
    width: 100%;
    height: 90vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.titleArea{
  position: absolute;
  text-align: left;
  top: 50%; left: 10%;
  transform: translateY(-50%);
  font-size: 24px;
}
.titleArea h2{
  font-size: 40px;
  font-family: "Charm", cursive;
}
.titleArea strong{
  display: block;
  font-size: 28px;
  margin-bottom: 10px;
}
.titleArea p{
  font-size: 20px;
}
  